# Python
*.pyc
*.pyo
__pycache__/

# Docker
*.dockerignore

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# General 
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp
*.env

# Project specific
02_logs/
03_models/
.cache/
